
<div id="page-container" class="flex flex-col w-full mx-auto min-h-dvh bg-gray-50 dark:bg-gray-900 dark:text-white">
    
    <main id="page-content" class="flex flex-col flex-auto max-w-full">
        <div
        class=" justify-center w-full p-4 mx-auto overflow-hidden min-h-dvh max-w-10xl lg:p-2">
        
        
        <section class="w-full">
            <app-side-bar></app-side-bar>
            <div class="p-4 sm:ml-64">
                <router-outlet></router-outlet>
            </div>
            </section>
        </div>
    </main>
</div>
